td { padding: 5px; }
td.center { text-align: center; }

tr:nth-child(even) {background: #eeeeee}
tr:nth-child(odd) {background: #ffffff}

tr:nth-child(even):hover { background: #eeee55; }
tr:nth-child(odd):hover  { background: #ffff88; }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 4pt;
    background-color: white;
    text-align: center;
}

